body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: white;
    overflow: hidden;
}

canvas {
    user-select: none;
    outline: none;
    display: block;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;

    >* {
        pointer-events: all;
    }

    fieldset {
        margin-top: 1rem;
    }

    #players-list {
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-right: 4px;

        &>div {
            font-weight: bold;
        }
    }

    #toolbar {
        display: flex;
        user-select: none;

        hr {
            margin: 0;
            border-color: rgba(0, 0, 0, 0.3);
            border-style: solid;
        }

        button {
            background-color: #18181821;
            border: none;
            color: white;
            padding: 16px;
            cursor: pointer;
            display: block;
            transition: background-color 0.2s ease-out;

            &:hover {
                background-color: #1818187a;
            }

            &:active {
                background-color: #181818b9;
            }
        }
    }

    #lobby-controls {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: auto;
        width: 250px;
        transform: translate(-50%, -50%);
    }

    input.close {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        color: white;
        border-color: transparent;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-size: 1rem;

        &:hover {
            border: 2px solid gray !important;
            background-color: #80808054;
        }
    }

    .dialog {

        .field {
            margin-bottom: 0.2rem;
        }

        button.submit {
            cursor: pointer;
            background-color: #1c851c;
            border-color: transparent;
            border-radius: 4px;
            padding: 4px 16px;
            font-size: 1.2rem;
            color: white;

            &:hover {
                background-color: #23a523;
            }

            &:active {
                background-color: #166816;
            }
        }

        background-color: #181818;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: auto;
        width: 300px;
        transform: translate(-50%, -50%);
        box-shadow: 0 10px 20px black;

        .dialog-header {
            padding: 20px;
            border-bottom: 1px solid gray;
            margin-bottom: 1.2rem;
            cursor: grab;
            user-select: none;

            h2 {
                margin: 0;
            }
        }

        .dialog-body {
            padding: 0 20px;
        }

        .dialog-actions {
            background-color: #2e2e2e;
            padding: 20px;
            margin-top: 1.2rem;
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 8px;
        }
    }

    .list {
        max-height: 40vh;
        min-height: 200px;
        margin-right: -10px;
        overflow-y: auto;
        scrollbar-width: thin;
        // scrollbar-gutter: stable;
        background-color: #424242;
        border: solid 1px black;
        border-radius: 4px;
        padding-bottom: 40px;
    }

    .save-list-item {
        display: flex;
        align-items: center;
        padding: 0 6px;
        background-color: #555555;
        margin: 2px;

        >p {
            flex-grow: 1;
            margin: 4px 0;
        }
    }

    #card-dialog {
        width: 360px;
    }

    #load-dialog {
        width: 360px;
    }
}